<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="url_server_get" value="https://a96f-146-120-179-124.ngrok.io/r-keeper/updates"/>
		<add key="url_server_post" value="https://a96f-146-120-179-124.ngrok.io/r-keeper/handler"/>
		<add key="url_keeper" value="https://80.76.42.123:9793/rk7api/v0/xmlinterface.xml"/>
		<add key="log_path" value="D:\r-keeper\QR-agent\QR-Agent\QR-Agent\log"/>
		<add key="time_s" value="5"/>
		<add key="auth_keeper_name" value="KDS"/>
		<add key="auth_keeper_pass" value="123"/>
		<add key="num_log_xml" value="0"/>
		<add key="token_server" value="test"/>
	</appSettings>
</configuration>